<a href="https://colab.research.google.com/github/anusreenk1/python-advance/blob/main/list_and_tuple_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#create a tuple
tup = (1,2,3,4)
print(tup)

(1, 2, 3, 4)

In [ ]:
#tuple with different data types
st  = 'bob went to town'
tu = tuple(st)
print(tu)

('b', 'o', 'b', ' ', 'w', 'e', 'n', 't', ' ', 't', 'o', ' ', 't', 'o', 'w', 'n')

In [ ]:
li = [14,'got',10,'sheep']
tup = tuple(li)
print(tup)

(14, 'got', 10, 'sheep')

In [ ]:
# create and take one item from tuple
tup = (11,22,33,44)
print(tup[1])

22

In [ ]:
# unpack a tuple
tup = ('cat', 'mat', 'fat')
a,b,c = tup
print(a,b,c)

cat mat fat

In [18]:
#add an item to tuple
tup = (1,2,3)
tup1 = list(tup)
tup1.append(4)
tup2 = tuple(tup1)
print(tup2)

(1, 2, 3, 4)

In [30]:
#convert tuple to string
tup =('a','b','c','d')
print(''.join(tup))

abcd

In [24]:
#convert a list to tuple
li =[11,22,33]
tup = tuple(li)
print(tup)

(11, 22, 33)

In [26]:
#length of tuple
tup =(12,1,31,18)
print(len(tup))

4

In [27]:
#reverse a tuple
tup[::-1]

(18, 31, 1, 12)